.sidebar{
width:260px;
height:100vh;
background:#f1f3f4;
display:flex;
flex-direction:column;
padding:20px;
box-sizing:border-box;
transition:.3s;
flex-shrink:0
}

.sidebar.closed{
width:80px
}

.top{
display:flex;
align-items:center;
gap:15px
}

.menu{
border:0;
background:transparent;
font-size:24px;
cursor:pointer
}

.new-chat{
border:0;
background:white;
border-radius:50%;
width:42px;
height:42px;
font-size:24px;
cursor:pointer;
box-shadow:0 2px 8px #0001
}

.top span{
font-size:15px
}

.history{
margin-top:35px;
overflow:hidden
}

.history h3{
font-size:15px;
margin-bottom:15px
}

.empty{
font-size:13px;
color:#777
}

.history-item{
display:flex;
align-items:center;
gap:10px;
padding:10px;
border-radius:10px;
margin-bottom:5px;
cursor:pointer
}

.history-item:hover{
background:#e2e4e7
}

.history-item p{
margin:0;
font-size:13px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis
}

.bottom{
margin-top:auto;
display:flex;
flex-direction:column;
gap:18px;
font-size:14px
}

.bottom div{
cursor:pointer
}

.bottom span{
margin-left:10px
}

@media(max-width:700px){
.sidebar{
position:absolute;
z-index:10
}
}